<div>
  <div>Title</div>
  <input placeholder="Title" ng-model="articleForm.title" style="width: 302px;" />
</div>
<div style="margin: 16px 0px;">
  <div>Body</div>
  <textarea style="width: 300px;height: 100px;" placeholder="Body" ng-model="articleForm.body"></textarea>
</div>