<div class="single-article-container" id="single-article-container" ng-controller="ArticleController"
     data-content="<%= render(partial: 'show', formats: [:json]) %>">
  <h1>Edit Article</h1>

  <div class="form-container" ng-show="single_article">
    <%= render 'form' %>

    <button type="button" ng-click="updateArticle()">Update Article</button>
  </div>

  <div ng-hide="single_article">
    <span>Article Not Found!</span>
  </div>
  <div style="margin-top: 16px;">
    <a href="/articles">Back to all articles</a>
  </div>
</div>